Magic 271485
Revision Verdi_R-2020.12-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 396 149 72

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/user/tmp_IDEC/03.32bit_alu/sim/func_sim/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 106050.000000
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 10

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "input"
activeDirFile "" "/home/user/tmp_IDEC/03.32bit_alu/sim/func_sim/wave.fsdb"
addSignal -h 15 -UNSIGNED -BIN /testbench/ALUControl[2:0]
addSignal -h 15 -2COMP -UDEC -holdScope a_in[31:0]
addSignal -h 15 -2COMP -UDEC -holdScope b_in[31:0]
addSubGroup "output"
addSignal -h 15 -2COMP -UDEC /testbench/result[31:0]
addSignal -h 15 -holdScope N
addSignal -h 15 -holdScope Z
addSignal -h 15 -holdScope C
endSubGroup "output"
addSignal -h 15 /testbench/V
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

